*.swp
*.pyc
tags

/build*/
/dependencies/
/waf-*-*
/.waf-*/
/.lock-*
/install

# Eclipse project files
.project
.pydevproject

# PyCharm project files
/.idea

# Osx finder files
.DS_Store

# VS 2017+ changes
.vs/
